In [10]:
import  pandas as pd
from sklearn import preprocessing as pp

In [2]:
Data=pd.read_excel('https://data.hossam.kr/D05/gradeuate.xlsx')
data=pd.DataFrame(Data)

In [4]:
data.head(2)

   합격여부  필기점수  학부성적  병원경력
0     0   380  3.61     3
1     1   660  3.67     3

## Min-Max-scaler

In [5]:
min=data['학부성적'].min()
max=data['학부성적'].max()

In [6]:
data["min-max(1)"]=data["학부성적"].apply(lambda x:(x-min)/(max-min))

In [16]:
scale=pp.MinMaxScaler()
scale.fit(data[["학부성적"]])
data['min-max(2)']=scale.transform(data[["학부성적"]])

In [17]:
data

     합격여부  필기점수  학부성적  병원경력  min-max(1)  min-max(2)
0       0   380  3.61     3    0.775862    0.775862
1       1   660  3.67     3    0.810345    0.810345
2       1   800  4.00     1    1.000000    1.000000
3       1   640  3.19     4    0.534483    0.534483
4       0   520  2.93     4    0.385058    0.385058
..    ...   ...   ...   ...         ...         ...
395     0   620  4.00     2    1.000000    1.000000
396     0   560  3.04     3    0.448276    0.448276
397     0   460  2.63     2    0.212644    0.212644
398     0   700  3.65     2    0.798851    0.798851
399     0   600  3.89     3    0.936782    0.936782

[400 rows x 6 columns]

## Z-score(standardization)

In [19]:
std=data["학부성적"].std()
average=data['학부성적'].mean()

In [20]:
data["Z-score(1)"]=data["학부성적"].apply(lambda x:(x-average)/std)

In [25]:
scale2=pp.StandardScaler()
scale2.fit(data[["학부성적"]])
data["Z-score(2)"]=scale2.transform(data[["학부성적"]])

In [26]:
data

     합격여부  필기점수  학부성적  병원경력  min-max(1)  min-max(2)  Z-score(1)  Z-score(2)
0       0   380  3.61     3    0.775862    0.775862    0.578348    0.579072
1       1   660  3.67     3    0.810345    0.810345    0.736008    0.736929
2       1   800  4.00     1    1.000000    1.000000    1.603135    1.605143
3       1   640  3.19     4    0.534483    0.534483   -0.525269   -0.525927
4       0   520  2.93     4    0.385058    0.385058   -1.208461   -1.209974
..    ...   ...   ...   ...         ...         ...         ...         ...
395     0   620  4.00     2    1.000000    1.000000    1.603135    1.605143
396     0   560  3.04     3    0.448276    0.448276   -0.919418   -0.920570
397     0   460  2.63     2    0.212644    0.212644   -1.996758   -1.999259
398     0   700  3.65     2    0.798851    0.798851    0.683455    0.684310
399     0   600  3.89     3    0.936782    0.936782    1.314093    1.315739

[400 rows x 8 columns]

## Robust
> 사분위수를 이용

In [27]:
Q1=data["학부성적"].quantile(0.25)
Q3=data["학부성적"].quantile(0.75)
Q2=data["학부성적"].quantile(0.5)

In [30]:
data["Robust(1)"]=data["학부성적"].apply(lambda x:(x-Q2)/(Q3-Q1))

In [33]:
scale3=pp.RobustScaler()
scale3.fit(data[["학부성적"]])
data["Robust(2)"]=scale3.transform(data[["학부성적"]])

In [34]:
data

,합격여부,필기점수,학부성적,병원경력,min-max(1),min-max(2),Z-score(1),Z-score(2),Robust(1),Robust(2)
0,0,380,3.61,3,0.775862,0.775862,0.578348,0.579072,0.398148,0.398148
1,1,660,3.67,3,0.810345,0.810345,0.736008,0.736929,0.509259,0.509259
2,1,800,4.00,1,1.000000,1.000000,1.603135,1.605143,1.120370,1.120370
3,1,640,3.19,4,0.534483,0.534483,-0.525269,-0.525927,-0.379630,-0.379630
4,0,520,2.93,4,0.385058,0.385058,-1.208461,-1.209974,-0.861111,-0.861111
...,...,...,...,...,...,...,...,...,...,...
395,0,620,4.00,2,1.000000,1.000000,1.603135,1.605143,1.120370,1.120370
396,0,560,3.04,3,0.448276,0.448276,-0.919418,-0.920570,-0.657408,-0.657408
397,0,460,2.63,2,0.212644,0.212644,-1.996758,-1.999259,-1.416667,-1.416667
398,0,700,3.65,2,0.798851,0.798851,0.683455,0.684310,0.472222,0.472222
399,0,600,3.89,3,0.936782,0.936782,1.314093,1.315739,0.916667,0.916667

#### 참고

In [36]:
scale3=pp.RobustScaler()
data["Robust(3)"]=scale3.fit_transform(data[["학부성적"]])

In [38]:
data

,합격여부,필기점수,학부성적,병원경력,min-max(1),min-max(2),Z-score(1),Z-score(2),Robust(1),Robust(2),Robust(3)
0,0,380,3.61,3,0.775862,0.775862,0.578348,0.579072,0.398148,0.398148,0.398148
1,1,660,3.67,3,0.810345,0.810345,0.736008,0.736929,0.509259,0.509259,0.509259
2,1,800,4.00,1,1.000000,1.000000,1.603135,1.605143,1.120370,1.120370,1.120370
3,1,640,3.19,4,0.534483,0.534483,-0.525269,-0.525927,-0.379630,-0.379630,-0.379630
4,0,520,2.93,4,0.385058,0.385058,-1.208461,-1.209974,-0.861111,-0.861111,-0.861111
...,...,...,...,...,...,...,...,...,...,...,...
395,0,620,4.00,2,1.000000,1.000000,1.603135,1.605143,1.120370,1.120370,1.120370
396,0,560,3.04,3,0.448276,0.448276,-0.919418,-0.920570,-0.657408,-0.657408,-0.657408
397,0,460,2.63,2,0.212644,0.212644,-1.996758,-1.999259,-1.416667,-1.416667,-1.416667
398,0,700,3.65,2,0.798851,0.798851,0.683455,0.684310,0.472222,0.472222,0.472222
399,0,600,3.89,3,0.936782,0.936782,1.314093,1.315739,0.916667,0.916667,0.916667