In [1]:
import pandas as pd

In [16]:
D=pd.read_csv('./제주관광공사_제주관광정보시스템(VISIT JEJU)_숙박콘텐츠_20230315.csv',encoding='euc-kr')

In [17]:
data=pd.DataFrame(D)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   콘텐츠명        1311 non-null   object
 1   룸개수         181 non-null    float64
 2   애완동물동반허용여부  187 non-null    object
 3   조식제공여부      176 non-null    float64
 4   금연여부        178 non-null    float64
 5   공항교통편       67 non-null     object
 6   셔틀버스운행여부    140 non-null    object
 7   등급          180 non-null    float64
 8   체크인시간       244 non-null    object
 9   체크아웃시간      245 non-null    object
 10  LATE체크인여부   163 non-null    object
 11  장애인전용객실여부   136 non-null    object
 12  부대시설기타      63 non-null     object
 13  유아서비스기타     26 non-null     object
dtypes: float64(4), object(10)
memory usage: 143.5+ KB

In [14]:
data["구분"].value_counts()

구분
호스텔업        170
관광호텔업       119
휴양콘도미니엄업     63
가족호텔업        62
소형호텔업         6
한국전통호텔업       1
Name: count, dtype: int64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   콘텐츠명        1311 non-null   object
 1   룸개수         181 non-null    float64
 2   애완동물동반허용여부  187 non-null    object
 3   조식제공여부      176 non-null    float64
 4   금연여부        178 non-null    float64
 5   공항교통편       67 non-null     object
 6   셔틀버스운행여부    140 non-null    object
 7   등급          180 non-null    float64
 8   체크인시간       244 non-null    object
 9   체크아웃시간      245 non-null    object
 10  LATE체크인여부   163 non-null    object
 11  장애인전용객실여부   136 non-null    object
 12  부대시설기타      63 non-null     object
 13  유아서비스기타     26 non-null     object
dtypes: float64(4), object(10)
memory usage: 143.5+ KB

In [28]:
data

,콘텐츠명,룸개수,애완동물동반허용여부,조식제공여부,금연여부,공항교통편,셔틀버스운행여부,등급,체크인시간,체크아웃시간,LATE체크인여부,장애인전용객실여부,부대시설기타,유아서비스기타
0,해피펜션,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,빠담빠담게스트하우스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,골든튤립호텔,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,쇠소깍올레민박,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,제주필하우스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,유수암캠핑장,NaN,y,NaN,2.0,NaN,NaN,NaN,14:00,11:00,NaN,NaN,NaN,NaN
1307,삭제요청 4,NaN,y,NaN,2.0,NaN,NaN,NaN,15:00,11:00,NaN,NaN,NaN,NaN
1308,에퀴녹스 드 협재,NaN,y,NaN,2.0,NaN,NaN,NaN,15:00,11:00,NaN,NaN,NaN,NaN
1309,소노벨제주,NaN,y,NaN,NaN,NaN,NaN,NaN,15:00,11:00,NaN,NaN,NaN,NaN
1310,소노캄제주(미공개),NaN,y,NaN,NaN,NaN,NaN,NaN,15:00,11:00,NaN,NaN,NaN,NaN